<section>
    <h2>About me</h2>
    <div class="wrapper" appAppearAnimation>

        <div class="who-am-i" appAppearAnimation>
            <h3>Who am I</h3>
            <p>
                My name is Ivan, I am 26 years old, now I live in Kharkov, and was born in Dniprodzherzhinsk.
            </p>
            <p>
                Most of my life I studied music, I am a professional saxophonist. I have higher education at the Kharkiv
                State Academy of Culture, played in many groups, both large and small.
            </p>
            <p>
                I`m currently a dedicated Christian, a member of the Evangelical Presbyterian Church of Kharkov.
            </p>
        </div>

        <div class="programming">
            <h3>Why I became a programmer?</h3>
            <p>
                I always believed that I had a more technical mindset, so I gravitated to technical activities and
                looked
                at music more like mathematics.
            </p>
            <p>
                For several years I thought about starting to study IT and in September 2022 I decided to seriously do
                it. So I quit my job and devoted myself to the study of frontend technologies. Now I have been doing
                programming for more than a year and I like it more and more every day.
            </p>
        </div>

        <div class="hobbies" appAppearAnimation>
            <h3>Hobbies</h3>
            <p>
                I like to read theological literature, I try to read at least 10 books a year, there are a lot of
                interesting books on this topic.
            </p>
            <p>
                I like to go to different campsites with overnight stays,
                I dream of going to the mountains for a week or even longer.
            </p>
            <p>
                I like to play different games such as chess, tanks, I like games from Bethesda and Blizzard.
            </p>
        </div>

    </div>
</section>