<section>
    <h2>About me</h2>
    <div class="wrapper" appAppearAnimation>
        <div class="programming">
            <h3>Why I became a programmer?</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis commodi perferendis eaque expedita
            eligendi dolores pariatur quaerat consequuntur provident! Laborum tempora aliquam maxime saepe mollitia
            error nam! Placeat, laboriosam exercitationem.
            Facere natus accusantium impedit, veritatis eos sed voluptas ipsa, architecto, atque saepe recusandae
            dolores mollitia dolorum molestiae quas eaque deserunt pariatur obcaecati rerum ipsum quam libero vero?
            Debitis, hic itaque!
        </div>
        <div class="who-am-i" appAppearAnimation>
            <h3>Why I became a programmer?</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis commodi perferendis eaque expedita
            eligendi dolores pariatur quaerat consequuntur provident! Laborum tempora aliquam maxime saepe mollitia
            error nam! Placeat, laboriosam exercitationem.
            Facere natus accusantium impedit, veritatis eos sed voluptas ipsa, architecto, atque saepe recusandae
            dolores mollitia dolorum molestiae quas eaque deserunt pariatur obcaecati rerum ipsum quam libero vero?
            Debitis, hic itaque!
        </div>
        <div class="hobbies" appAppearAnimation>
            <h3>Why I became a programmer?</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis commodi perferendis eaque expedita
            eligendi dolores pariatur quaerat consequuntur provident! Laborum tempora aliquam maxime saepe mollitia
            error nam! Placeat, laboriosam exercitationem.
            Facere natus accusantium impedit, veritatis eos sed voluptas ipsa, architecto, atque saepe recusandae
            dolores mollitia dolorum molestiae quas eaque deserunt pariatur obcaecati rerum ipsum quam libero vero?
            Debitis, hic itaque!
        </div>
    </div>
</section>