<section>
    <h2>Contact Me</h2>
    <div>
        <i class="icon-instagram" appAppearAnimation [side]="sides.instagram" (click)="redirectToSocialMedia('instagram')"></i>
        <i class="icon-telegram" appAppearAnimation [side]="sides.telegram" (click)="redirectToSocialMedia('telegram')"></i>
        <i class="icon-gitlab" appAppearAnimation [side]="sides.gitlab" (click)="redirectToSocialMedia('gitlab')"></i>
        <i class="icon-linkedin-circled" appAppearAnimation [side]="sides.linkedin" (click)="redirectToSocialMedia('linkedin')"></i>
        <i class="icon-github-circled" appAppearAnimation [side]="sides.github" (click)="redirectToSocialMedia('github')"></i>
    </div>
</section>