<section>
    <h2>Contact Me</h2>
    <div>
        <i class="icon-instagram" id="instagram" appAppearAnimation (click)="redirectToSocialMedia('instagram')"></i>
        <i class="icon-telegram" id="telegram" appAppearAnimation (click)="redirectToSocialMedia('telegram')"></i>
        <i class="icon-gitlab" id="gitlab" appAppearAnimation (click)="redirectToSocialMedia('gitlab')"></i>
        <i class="icon-linkedin-circled" id="linkedin" appAppearAnimation (click)="redirectToSocialMedia('linkedin')"></i>
        <i class="icon-github-circled" id="github" appAppearAnimation (click)="redirectToSocialMedia('github')"></i>
    </div>
</section>