
nav {
    display: flex;
    width: 100%;
    height: var(--header-height);
    align-items: center;
    justify-content: flex-end;
}

a {
    padding: 12px 10px;
    display: block;
    column-gap: 10px;
    text-decoration: none;
    color: rgb(22, 22, 22);
    border-radius: 10px;
    cursor: pointer;
}

a:hover {
    background-color: #eaeaea;
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
    }

    a {
        font-size: small;
    }
}