section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

h2 {
    flex-basis: 100%;
    height: var(--header-height);
}

h3 {
    padding-top: 10px;
}

.wrapper-skills {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div > div {
    height: 100%;
    width: 400px;
    background-color: var(--color-card);
}

li {
    padding: 8px 0;
}

li:last-child {
    padding-bottom: 10px;
}