section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h2 {
    flex-basis: 100%;
    height: var(--header-height);
}

h3 {
    padding-top: 10px;
}

.wrapper-skills {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

section>div>div {
    height: 100%;
    width: 400px;
    background-color: var(--color-card-5);
    padding-right: 10px;
}

section>div:last-child>div {
    background-color: var(--color-card-6);
}

li {
    padding: 8px 0;
}

li:last-child {
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {

    section {
        padding-top: 20px;
    }

    section>div>div {
        width: 320px;
    }
}