<section>

    <div appAppearAnimation side="left">
        <h1>Welcome</h1>
        <p>My name is Ivan Yermolenko, I`m initial programmer who dreams of working in world of IT</p>
        <div class="cards">
            <div class="card"><h4>800+ hours of practice</h4></div>
            <div class="card"><h4>I have a commercial project</h4></div>
            <div class="card"><h4>Enjoy programming</h4></div>
        </div>

    </div>

    <div appAppearAnimation side="right">
        <div></div>
    </div>
</section>