<section>

    <div appAppearAnimation side="left">
        <h1>Ivan Yermolenko Welcome`s You</h1>
        <p>The initial programmer who dreams of working in the constantly developing world of IT for the next 15 years.</p>
        <div class="cards">
            <div class="card"><h4>750+ hours of practice</h4></div>
            <div class="card"><h4>I have a commercial project</h4></div>
            <div class="card"><h4>Enjoy programming</h4></div>
        </div>
    </div>

    <div appAppearAnimation side="right">
        <div></div>
    </div>
</section>